---
layout: default
---

<div class="home">

  <h1 class="page-heading">Make money with these programs</h1>

  {% for type in site.data.types.order %}
  <h2>{{ site.data.types[type].name }}</h2>
  <p>{{ site.data.types[type].description }}</p>
  {% endfor %}
  
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
